{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3">
       
        <div class="nav flex-column  nav-pills bg-light" aria-orientation="vertical">
        <a href="" class="nav-link text-dark bg-warning">Dashbord</a>
        <a href="" class="nav-link text-dark ">Categorys</a>
        <a href="" class="nav-link text-dark ">Posts</a>
        <a href="" class="nav-link text-dark ">Logout</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase fw-blod">All Categories</div>
                </div>
                <div class="card-body text-dark">
                    <h5 class="text-center">{{all_category}}</h5>
                </div>
            </div>

            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase fw-blod">All Posts</div>
                </div>
                <div class="card-body text-dark">
                    <h5 class="text-center">{{all_blog}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}