{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    {% include 'includes/sidebar.html' %}
    <div class="col-md-9">
        <h3>Delete Blog Post </h3>
        {% if messages %}
            {{messages}}
        {% endif %}
        <form action="" method="POST" style="width: 500px;">

            {% csrf_token %}
           <p>Are you sure you want to delete this post "{{post}}" ?</p>
            <input type="submit" class="btn btn-danger">
            <a href="{% url 'posts' %}" class="btn btn-dark float-right">Back</a>
        </form>
    </div>
    
</div>
{% endblock %}